
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


@media handheld,screen and (max-width: 750px) and (min-width: 481px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.col:first-child { margin-left: 1%; }
}


@media handheld,screen and (max-width: 950px) and (min-width: 751px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.col:first-child { margin-left: 1%; }
	.col:nth-child(3) { display: none; }
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media handheld,screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.col:first-child { margin-left: 8%; }
	.col:nth-child(3) { display: none; }
}