html, body {
	color: #242929;
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#content {
	position: relative;
	padding-top: 60px;
	padding-bottom: 120px;
}

a {
	color: #242929;
	text-decoration: none;
}

a.active{
	color: #F8F8F8;
}

/* Define header styling */
header {

}

/*header a div {
	display: inline-block;
	height: 60px;
	position: relative;
	margin-right: -4.5px;
}*/

.menu-block {
	display: inline-block;
	height: 60px;
	position: relative;
	margin-right: -4.5px;
}

#first-name-header, #first-name-footer {
	width: 57%;
}

#first-name-header h2, #first-name-footer h2 { 
	text-align: right;
	right: 8px;
}

#last-name-header, #last-name-footer {
	width: 43%;
}

#last-name-header h2, #last-name-footer h2 {
	text-align: left;
	left: 8px;
}

/* Define footer styling */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer div img {
	position: relative;
	max-height: 90%;
	max-width: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: -5px;
}


/* Define standard fonts and sizes */
/* Font styles are coming from typekit, drawn in by js */
h1 {
	padding: 0px;
	margin: -16px 0px 0px 0px;
	font-size: 96px;
}

h2 {
	font-size: 50px;
}

h2.bottom-center {
	width: 100%;
	position: absolute;
	bottom: -6px;
	text-align: center;
}

h2.top-center {
	width: 100%;
	position: absolute;
	top: -5px;
	text-align: center;
}

h3 {
	font-size: 30px;
}

h3.bottom-center {
	width: 100%;
	position: absolute;
	bottom: -4px;
	text-align: center;
}

h3.top-center {
	width: 100%;
	position: absolute;
	top: -4px;
	text-align: center;
}

p.large {
	font-size: 32px;
}

p {
	font-size: 18px;
}

.right-top-align {
	float: right;
	margin: -17px -9px 0px 0px;
	text-align: right;
}

.mobile-only {
	display: none;
}

/*Define font sizes for smaller screens*/

/* Screens smaller than 1325, but larger than 1116 */
@media handheld,screen and (max-width: 1325px) and (min-width: 1116px) {
	h1 {
		font-size: 76px;
	}

	h2 {
		font-size: 45px;
	}

	h2.bottom-center {
		bottom: -5px;
	}

	h3 {
		font-size: 25px;
	}

	h3.bottom-center {
		bottom: -3px;
	}

	p.large {
		font-size: 28px;
	}
}

/* Screens smaller than 1115, but larger than 951*/
@media handheld,screen and (max-width: 1115px) and (min-width: 951px) {
	h1 {
		font-size: 68px;
	}

	h2 {
		font-size: 38px;
	}

	h2.bottom-center {
		bottom: -4px;
	}

	h3 {
		font-size: 20px;
	}

	h3.bottom-center {
		bottom: -2px;
	}

	p.large {
		font-size: 22px;
	}
}

/*@media handheld,screen and (max-width: 950px) and (min-width: 751px) {
	h1 {
		padding: 0px;
		margin: -16px 0px 0px 0px;
		font-size: 72px;
	}

	h3 {
		font-size: 24px;
	}

	p.large {
		font-size: 30px;
	}

	p {
		font-size: 16px;
	}


}

@media handheld,screen and (max-width: 750px) and (min-width: 481px) {
	h1 {
		padding: 0px;
		margin: -16px 0px 0px 0px;
		font-size: 64px;
	}

	h3 {
		font-size: 18px;
	}

	p.large {
		font-size: 24px;
	}

	p {
		font-size: 18px;
	}	
}*/

@media handheld,screen and (max-width: 950px) {
	h1 {
		padding: 0px;
		margin: -7px 0px 0px 0px;
		font-size: 40px;
	}

	h2{
		font-size: 25px;
	}

	h2.bottom-center {
		bottom: 15px;
	}

	h2.top-center {
		top: 15px;
	}

	h3{
		font-size: 18px;
	}

	h3.bottom-center {
		position: relative;
		padding-top: 15px;
	}

	p.large{
		font-size: 1.5em;
	}

	p {
		font-size: 1em;
	}

	.menu-block {
		margin-bottom: -4.5px;
	}

	.mobile-only {
		display: inline;
	}

	.menu-item {
		display: none;
	}

	.mobile-hide {
		display: none;
	}

	#content {
		padding-top: 0px;
		padding-bottom: 60px;
	}

	#first-name-header {
		width: 50%;
	}

	#menu-toggle {
		width: 15%;
	}

	#menu-toggle .bottom-center {
		bottom: -1px;
		position: absolute;
	}

	#menu-toggle img {
		position: relative;
		height: 30px;
		display: block;
		margin-right: auto;
		margin-left: auto;
		bottom: -17px;
	}

	#first-name-footer {
		width: 65%;
	}

	#first-name-header h2, #first-name-footer h2 { 
		text-align: right;
		right: 5px;
	}

	#last-name-header, #last-name-footer {
		width: 35%;
	}

	#last-name-header h2, #last-name-footer h2 {
		text-align: left;
		left: 5px;
	}

}

/*Define standard colors for site*/
.dark-blue{
	background-color: #88a0df;
}

.med-blue{
	background-color: #b8c6ec;
}

.light-blue{
	background-color: #e7ecf9;
}

.dark-green{
	background-color: #85b46b;
}

.med-green{
	background-color: #b6d2a6;
}

.light-green{
	background-color: #e7f0e1;
}

.dark-coral{
	background-color: #e79078;
}

.med-coral{
	background-color: #f1bcae;
}

.light-coral{
	background-color: #fae9e4;
}

.dark-grey{
	background-color: #8fa4a5;
}

.med-grey{
	background-color: #bcc8c9;
}

.light-grey{
	background-color: #e9eded;
}


