#header{
	display: block;
	width: 100%;
	min-height: 70px;
	top: 0;
  	left: 0;
  	bottom: 10px;
  	z-index: 999;
  	background-color: white;
}

.rightAlign{
	float: right;
	margin: 0px 0px 20px 0;
	position: relative;
	text-align: right;
}

.leftAlign{
	float: left;
	margin: 0px 0px 20px 0;
	position: relative;
	text-align: left;
}

.content {
	position: absolute;
	height: 100%;
	width: 100%;
}

#editorial-design-content{
	position: absolute;
	height: 100%;
	width: 100%;
}

#back-arrow {
	display: inline-block;
}

#back-text{
	display: inline;
	float: right;
	padding-top: 27px;
	padding-left: 10px;
}

span#back-arrow-group:hover{
	margin-left: -10px;
}


a:active, a:visited, a:hover, a {
	color: #242929;
}


/* On hover, we want the design text to appear */
div#editorial-design-content:hover {
	background: url('../img/CoffeeBeans-01.png') no-repeat center center;
	background-size: cover;
	cursor: pointer;
}

@media handheld,screen and (max-width: 480px) {
	.rightAlign{
		float: right;
		margin: 0px 5% 20px 0;
		position: relative;
		text-align: right;	
	}
}
