img {
	max-width: 100%;
	max-height: 100%;
}

h1 p {
	padding-top: 10px;
}

#welcome-text {
	text-align: right;
	height: 100%;
	position: relative;
}

#welcome-text h1, p {
	padding-left: 35px;
	height: 100%;
}

.col {
	margin: 0;
}

/* CSS Changes that happen on a mobile phone */
@media handheld,screen and (max-width: 950px) {
	#welcome-text {
		text-align: left;
	}

	#welcome-text h1, p {
		padding-left: 10px;
		padding-right: 10px;
	}

	.col {
		margin-top: 0%;
		margin-bottom: 8%;
	}
}