<head>
	<!-- Set a more specific title -->
	<title>Britney Lyons - Design</title>

	<!-- Add page-specific css -->
 	<link rel="stylesheet" type="text/css" href="/css/design.css">
</head>

<h2>Design Index</h2>