<head>
	<!-- Set a more specific title -->
	<title>Britney Lyons - Blog</title>

	<!-- Add page-specific css -->
 	<link rel="stylesheet" type="text/css" href="/css/blog.css">
</head>

<h2>Blog Index</h2>