<head>
	<!-- Set a more specific title -->
	<title>Britney Lyons - About</title>

	<!-- Add page-specific css -->
 	<link rel="stylesheet" type="text/css" href="/css/about.css">
</head>

<h2>About</h2>