<head>
	<!-- Set a more specific title -->
	<title>Britney Lyons - Contact</title>

	<!-- Add page-specific css -->
 	<link rel="stylesheet" type="text/css" href="/css/contact.css">
</head>

<h2>Contact</h2>