<head>
  <!-- Add grid layout css -->
  <link rel="stylesheet" type="text/css" href="/css/html5reset.css">
  <link rel="stylesheet" type="text/css" href="/css/col.css">
  <link rel="stylesheet" type="text/css" href="/css/12cols.css">
  
  <!-- Add overall css -->
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  
  <!-- Add fonts from typekit -->
  <script src="//use.typekit.net/bgz5ctl.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- Set options so media queries recognizes mobile -->
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Britney Lyons</title>
</head>
<body>
  <div id="header">
    <span class="rightAlign">
      <h1>BRITNEY LYONS</h1>
    </span>
  </div>
  
  <div class="section group">
    <div class="col span_3_of_12 dark-blue">
      <div class="content">
        <h2 class="right-top-align">about</h2>
      </div>
    </div>
    <div class="col span_3_of_12 dark-green">
      <a href="/design">
        <div id="design-content" class="content">
          <h2 class="right-top-align">design</h2>
        </div>
      </a>
    </div>
    <div class="col span_3_of_12 dark-coral">
    </div>
    <div class="col span_3_of_12 dark-grey">
      <div class="content">
        <h2 class="right-top-align">contact</h2>
      </div>
    </div>
  </div>

  <div class="section group">
    <div class="col span_3_of_12 med-blue">
      <div class="content">
        <h2 class="right-top-align">blog</h2>
      </div>
    </div>
    <div class="col span_3_of_12 med-green">
      <div class="content">
        <h2 class="right-top-align">code</h2>
      </div>
    </div>
    <div class="col span_3_of_12 med-coral">
    </div>
    <div class="col span_3_of_12 med-grey">
      <div class="content">
        <h2 class="right-top-align">resume</h2>
      </div>
    </div>
  </div>

  <div class="section group">
    <div class="col span_3_of_12 light-blue">
    </div>
    <div class="col span_3_of_12 light-green">
    </div>
    <div class="col span_3_of_12 light-coral">
    </div>
    <div class="col span_3_of_12 light-grey">
    </div>
  </div>

  <div id="footer">
  
  </div>
</body>
