<head>
	<!-- Set a more specific title -->
	<title>Britney Lyons</title>

	<!-- Add page-specific css -->
 	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<div class='section group'>
	<div class='col span_2_of_10 mobile-hide'>
		<!-- Empty div for margin -->
		&nbsp;
	</div>
	<div class='col span_2_of_10'>
		<img src='/img/portfolio-pic.jpg' />
	</div>
	<div id='welcome-text' class='col span_4_of_10'>
		<h1>Welcome.</h1>
		<p class='large'>I'm Britney Lyons - designer, developer, and general techie based in Austin, TX. Take a look around this site to learn more about my interests and previous projects. If you like what you see, please contact me!</p>
	</div>
	<div class='col span_2_of_10 mobile-hide'>
		<!-- Empty div for margin -->
		&nbsp;
	</div>
</div>