<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!-- Add grid layout css -->
  <link rel="stylesheet" type="text/css" href="/css/html5reset.css">
  <link rel="stylesheet" type="text/css" href="/css/col.css">
  <link rel="stylesheet" type="text/css" href="/css/10cols.css">

  <!-- Add custom stylesheets -->
  <link rel="stylesheet" href="/css/common.css">

    <!-- Add fonts from typekit -->
  <script src="//use.typekit.net/bgz5ctl.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- Add Javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

    <!-- Set options so media queries recognizes mobile -->
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Britney Lyons</title>
</head>
<body>
  <div id="wrapper">
    <header class='section group'>      
      <div id='name-header' class='mobile-only span_4_of_10 menu-block'>
        <div id='menu-toggle' class='dark-coral menu-block'>
          <img id='menu-toggle-icon' src='/img/menu-icon.png' />
        </div>
        <a href='/home'>
          <div id='first-name-header' class='dark-coral menu-block'>
            <h2 class='bottom-center'>BRITNEY</h2>
          </div>
          <div id='last-name-header' class='med-coral menu-block'>
            <h2 class='bottom-center'>LYONS</h2>
          </div>
        </a>
      </div>
      <a href='/about' class='menu-item'>
        <div id='about-header' class='span_1_of_10 dark-blue menu-block'>
          <h3 class='bottom-center'>about</h3>
        </div>
      </a>
      <a href='/blog' class='menu-item'>
        <div id='blog-header' class='span_1_of_10 med-blue menu-block'>
          <h3 class='bottom-center'>blog</h3>
        </div>
      </a>
      <a href='/design' class='menu-item'>
        <div id='design-header' class='span_1_of_10 dark-green menu-block'>
          <h3 class='bottom-center'>design</h3>
        </div>
      </a>
      <a href='/code' class='menu-item'>
        <div id='code-header' class='span_1_of_10 med-green menu-block'>
          <h3 class='bottom-center'>code</h3>
        </div>
      </a>
      <a href='/contact' class='menu-item mobile-only'>
        <div id='contact-header' class='span_1_of_10 dark-grey menu-block'>
          <h3 class='bottom-center'>contact</h3>
        </div>
      </a>
      <a href='/resume' class='menu-item mobile-only'>
        <div id='resume-header' class='span_1_of_10 med-grey menu-block'>
          <h3 class='bottom-center'>resume</h3>
        </div>
      </a>
      <a href='/home' class='mobile-hide'>
        <div id='name-header' class='span_4_of_10 menu-block'>
          <div id='first-name-header' class='dark-coral menu-block'>
            <h2 class='bottom-center'>BRITNEY</h2>
          </div>
          <div id='last-name-header' class='med-coral menu-block'>
            <h2 class='bottom-center'>LYONS</h2>
          </div>
        </div>
      </a>
      <a href='/contact' class='mobile-hide'>
        <div id='contact-header' class='span_1_of_10 dark-grey menu-block'>
          <h3 class='bottom-center'>contact</h3>
        </div>
      </a>
      <a href='/resume' class='mobile-hide'>
        <div id='resume-header' class='span_1_of_10 med-grey menu-block'>
          <h3 class='bottom-center'>resume</h3>
        </div>
      </a>
    </header>
    <div id='content'>
      <%= yield %>
    </div>
    <footer>
      <div class='span_1_of_10 dark-blue mobile-hide menu-block'>
      </div>
      <div class='span_1_of_10 med-blue mobile-hide menu-block'>
      </div>
      <div class='span_1_of_10 dark-green mobile-hide menu-block'>
      </div>
      <div class='span_1_of_10 med-green mobile-hide menu-block'>
        <img src='/img/github-icon.png' />
      </div>
      <div id='name-footer' class='span_4_of_10 menu-block'>
        <div id='first-name-footer' class='dark-coral menu-block'>
          <h2 class='top-center'>BRITNEY</h2>
        </div>
        <div id='last-name-footer' class='med-coral menu-block'>
          <h2 class='top-center'>LYONS</h2>
        </div>
      </div>
      <div class='span_1_of_10 dark-grey mobile-hide menu-block'>
        <img src='/img/email-icon.png' />
      </div>
      <div class='span_1_of_10 med-grey mobile-hide menu-block'>
        <img src='/img/phone-icon.png' />
      </div>
    </footer>
  </div>
</body>
</html>
