<head>
	<!-- Set a more specific title -->
	<title>Britney Lyons - Resume</title>

	<!-- Add page-specific css -->
 	<link rel="stylesheet" type="text/css" href="/css/resume.css">
</head>

<h2>Code Index</h2>